/frontend/node_modules
/backend/env
/backendEnhanced/env
/backendEnhanced/error_screenshot.png
/backend/Robu Constantin Robert CV English.pdf
/backend/.env
/backend/local_mistral_model
/backend/phi-2
/backend/TinyLlama-1.1B-Chat-v1.0
/backend/gpt-neo-1.3B
/backend/.cache
/backend/occupations_en.csv
/backend/skills_en.csv
/backend/occupationSkillRelations_en.csv
/backend/Ruxandra_Alexandreanu_CV.pdf
/backend/all-mpnet-base-v2
/backend/all-MiniLM-L6-v2
/backend/gtr-t5-base
/backend/Qwen2.5-1.5B-Instruct
/backend/stablelm-zephyr-3b
/backend/__pycache__