numpy==1.26.4
torch
transformers
sentence-transformers
accelerate
bitsandbytes
scikit-learn
pandas
selenium
webdriver_manager
bs4
fitz
spacy
PyMuPDF
openai
huggingface_hub[hf_xet]
argparse
psycopg2-binary
pymupdf>=1.23
peft
flask
pymongo
selenium
requests
lxml
PyJWT
flask-cors
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118
numpy==1.26.4